<div class="container">
 <div class="row">
  <div class="mx-auto">
<h2>マイページ</h2>
 <th class='lead'>登録情報編集</th> 
 <%= link_to "編集する", edit_public_customer_path(@customer),class: 'btn btn-success'%><br>

<th>氏名</th> 
<%= @customer.last_name + "" + @customer.first_name %><br>

 <th>フリガナ</th>
 <%= @customer.last_name_kana + "" + @customer.first_name_kana %><br>

<th>郵便番号</th> 
<%= @customer.postal_code %><br>

<th>住所</th>
<%= @customer.address %><br>

<th>電話番号</th>
<%= @customer.telephone_number %><br>

<th>メールアドレス</th>
<%= @customer.email %><br>

<th>会員ステータス</th>
<% if @customer.is_deleted == false %>
  有効
 <% else %>
  退会 
 <% end %></br>
 
  
 <th>配送先</th>
 <%= link_to "一覧を見る",public_addresses_path,class: 'btn btn-primary' %><br>
 <p></p>
 <th>注文履歴</th>
 <%= link_to "一覧を見る",public_orders_path,class: 'btn btn-primary' %> 
   </div>
  </div> 
 </div>


