 <div class="container">
  <div class="row">
   <div class="col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

 
 <h2><%= @customer.last_name + "" + @customer.first_name %>さんの会員詳細</h2> 
 
  <label for="id">会員ID</label> 
  <%= @customer.id %><br> 
 
  <label for="name">氏名</label> 
　<%= @customer.last_name + "" + @customer.first_name %><br>

  <label for="kana">フリガナ</label> 
  <%= @customer.last_name_kana + "" + @customer.first_name_kana %><br>

  <label for="postal">郵便番号</label>
  <%= @customer.postal_code %><br>

  <label for="address">住所</label> 
  <%= @customer.address %><br>

  <label for="telephone_number">電話番号</label>
  <%= @customer.telephone_number %><br>

  <label for="email">メールアドレス</label> 
  <%= @customer.email %><br>

<label for="is_deleted">会員ステータス</label> 
<% if @customer.is_deleted == false %> 
  有効
 <% else %> 
  退会 
 <% end %></br>
 
 <%= link_to "編集する", edit_admin_customer_path(@customer), class: 'btn btn-success' %>
 <%= link_to "注文履歴一覧を見る", admin_root_path ,class: 'btn btn-primary' %>
  
  </div>
 </div>
</div> 