 <div class="container">
  <div class="row">
   <div class="col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h2>注文履歴詳細</h2>
  <label for="name">購入者</label>
   <%= @order.customer.full_name %><br>
  <label for="created_at">注文日</label>
   <%= @order.created_at.strftime('%Y/%m/%d') %><br>
  <label for="address">配送先</label>
   <%= @order.postal_code %>
   <%= @order.address %> 
   <%= @order.name %><br>
  <label for="payment_method">支払方法</label>
   <%= @order.payment_method_i18n %> 
  
  <table class="table table-striped bg-light">
<tr>
  <th>商品名</th>
  <th>単価（税込）</th>
  <th>数量</th>
  <th>小計</th>
</tr>
  <% @subtotal = 0 %> 
  <% @order.order_details.each do |order_detail| %>
  <tr>
  <th><%= order_detail.item.name %></th>
  <th><%= order_detail.item.with_tax_price %></th>
  <th><%= order_detail.amount %></th>
  <th><%= order_detail.amount*order_detail.item.with_tax_price %></th>
 
  </tr>  
  <% end %> 
  </table>
  <% @subtotal += @order.total_payment-500 %>
 <label>送料</label>
   <td>500円</td><br>
  <label for="subtotal">商品合計</label>
  <%= @subtotal.to_s(:delimited, delimiter: ',') %><br>
  
  <label for="total_payment">請求金額合計</label>
  <%= @order.total_payment.to_s(:delimited, delimiter: ',') %>
   </div>
  </div>
</div>

