<div class="container">
 <div class="row">
  <div class="mx-auto">

<h2>注文情報確認画面</h2>

<table class="table">
<tr>
 <th>商品名</th>
 <th>単価(税込)</th>
 <th>数量</th> 
 <th>小計</th>
</tr>


<% @totalprice = 0 %>

<% @cart_items.each do |cart_item| %><br/> 
<tr>
 <th><%= cart_item.item.name %></th>
 
 <th><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></th>
 
 <th><%= cart_item.amount %></th>
 
<th><%= cart_item.subtotal.to_s(:delimited, delimiter: ',') %></th>
 
<% @totalprice += cart_item.subtotal %>
</tr>
<% end %><br>
</table> 
<tr>
 <td>送料</td>
 <td>500円</td>
</tr></br>
 
<th>合計 
<%= @totalprice.to_s(:delimited, delimiter: ',') %></th><br> 
 
<th>請求金額
 <% @order.total_payment = @totalprice + 500 %>
 <%= @order.total_payment.to_s(:delimited, delimiter: ',') %></th><br>
   
 <th>支払い方法
 <%= @order.payment_method_i18n %></th></br>
  
  <th>配送先
 <%= @order.postal_code %>
 <%= @order.address %> 
 <%= @order.name %></th> 
 
 
 <%= form_with model: @order, url: public_orders_path, method: :post, local: true do |f| %>
  
     <%= f.hidden_field :postal_code %>
     <%= f.hidden_field :address %>
     <%= f.hidden_field :name %>
     <%= f.hidden_field :payment_method %>
     <%= f.hidden_field :total_payment %>
     
   <%= f.submit '注文を確定する',class: 'btn btn-primary' %>  
<% end %>   

  </div> 
 </div> 
</div> 