 <div class="container">
  <div class="row">
   <div class=" mx-auto">

<h1>注文履歴詳細</h1>

<h3>注文情報</h3>

<th>注文日</th>
 <%= @order.created_at.strftime('%Y/%m/%d') %><br>
<th>配送先</th>
 <%= @order.postal_code %>  
 <%= @order.address %> 
 <%= @order.name %><br>
<th>支払方法</th>
<%= @order.payment_method_i18n %>
 

<h3>請求情報</h3>
 
<th>商品合計</th>
 <%= @order.total_payment-500 %><br>
<th>配送料</th>  
 <%= 500 %><br>
<th>ご請求額</th> 
 <%= @order.total_payment.to_s(:delimited, delimiter: ',')  %>
 
<h3>注文内容</h3>
 <table class="table">
 <tr>
  <th>商品名</th>
  <th>単価（税込）</th>
  <th>個数</th>
  <th>小計</th>
 </tr>
<% @order.order_details.each do |order_detail| %>
 <tr>
<th><%= order_detail.item.name %></th>
<th><%= order_detail.item.with_tax_price %></th>
<th><%= order_detail.amount %></th>
<th><%= order_detail.amount*order_detail.item.with_tax_price %></th>
</tr>
<% end %>
  </table>

    </div>
  </div>
 </div>

