<h2>商品詳細</h2>

<% if @item.image.attached? %>
<%= image_tag @item.image ,size: "250x150" %>
<% else %>
<%= image_tag'no_image',size: "250x150" %>
<% end %>

<h4>商品名</h4>
<%= @item.name %>


<h4>商品説明</h4>
<%= @item.introduction %>


<h4>税込価格</h4>
¥<%= @item.with_tax_price.to_s(:delimited, delimiter: ',') %>(税込)
<h4>販売ステータス</h4>
<% if @item.is_active == true %>
販売中
<% else %>
販売停止中
<% end %>


<%= form_for @cart_item, url: public_cart_items_path do |f| %>
  <% if customer_signed_in? %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <% end %>
     <%= f.hidden_field :item_id, :value => @item.id %>

　　<%= f.select :amount, *[1..100] %>
    <%= f.submit "カートに入れる", class: "btn btn-primary" %>
 <% end %>

